
main {
    width: 70%;
    max-width: 700px;
    margin: auto;
}

able {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

.book {
    border: 1px solid black;
    padding: 5px;
}